@import 'prism-themes/themes/prism-one-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.blog h1,
.blog h2 {
    @apply mt-10;
}

.blog h3,
.blog img:not([alt='avatar']),
.blog pre {
    @apply mb-2 mt-6;
}

.blog h1 {
    @apply text-3xl font-bold;
}

.blog h2 {
    @apply text-2xl font-semibold;
}

.blog h3 {
    @apply text-xl;
}

.blog hr {
    @apply my-6;
}

.blog ul {
    @apply ml-5 list-disc;
}

.blog ol {
    @apply ml-5 list-decimal;
}

.blog p > span,
.blog strong > span {
    @apply self-baseline rounded bg-[#131417] px-2 pb-[0.25rem];
}
